interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/broadcast/Y9YjcDKG/teams/standings
  response:
    body:
      string: "[{\"name\":\"SC Viernheim\",\"mp\":8,\"gp\":46,\"matches\":[{\"roundId\":\"SY7G4X9F\",\"opponent\":\"SF
        Berlin\",\"points\":\"1\",\"mp\":1,\"gp\":5.5},{\"roundId\":\"20EKKqrN\",\"opponent\":\"USV
        TU Dresden\",\"points\":\"1\",\"mp\":1,\"gp\":6},{\"roundId\":\"IZZCW7IG\",\"opponent\":\"MSA
        Zugzwang\",\"points\":\"1\",\"mp\":1,\"gp\":6.5},{\"roundId\":\"Woyg2kpP\",\"opponent\":\"Schachfreunde
        Deizisau\",\"points\":\"1\",\"mp\":1,\"gp\":6},{\"roundId\":\"AlyVP7Tj\",\"opponent\":\"FC
        St. Pauli\",\"points\":\"1\",\"mp\":1,\"gp\":5},{\"roundId\":\"SR1eddMe\",\"opponent\":\"Hamburger
        SK\",\"points\":\"1\",\"mp\":1,\"gp\":6},{\"roundId\":\"nRVdmVdP\",\"opponent\":\"SG
        Solingen\",\"points\":\"1\",\"mp\":1,\"gp\":4.5},{\"roundId\":\"2hgbLbso\",\"opponent\":\"D\xFCsseldorfer
        SK\",\"points\":\"1\",\"mp\":1,\"gp\":6.5}],\"players\":[{\"name\":\"Wagner,
        Dennis\",\"title\":\"GM\",\"rating\":2608,\"fideId\":24650684,\"team\":\"SC
        Viernheim\",\"fed\":\"GER\",\"played\":7,\"score\":5.5},{\"name\":\"Korobov,
        Anton\",\"title\":\"GM\",\"rating\":2616,\"fideId\":14105730,\"team\":\"SC
        Viernheim\",\"fed\":\"UKR\",\"played\":4,\"score\":2.5},{\"name\":\"Erdogmus,
        Yagiz Kaan\",\"title\":\"GM\",\"rating\":2646,\"fideId\":44599790,\"team\":\"SC
        Viernheim\",\"fed\":\"TUR\",\"played\":2,\"score\":0.5},{\"name\":\"Maghsoodloo,
        Parham\",\"title\":\"GM\",\"rating\":2708,\"fideId\":12539929,\"team\":\"SC
        Viernheim\",\"fed\":\"IRI\",\"played[...]
