interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/broadcast/8jXzp45R/players
  response:
    body:
      string: '[{"name":"Gijswijt, Bart","title":"FM","rating":2295,"fideId":1009435,"team":"HWP
        Haarlem","fed":"NED","played":1,"score":0,"ratingDiff":-2,"ratingsMap":{"standard":2295},"ratingDiffs":{"standard":-2},"performance":1942,"performances":{"standard":1942}},{"name":"Mamedyarov,
        Shakhriyar","title":"GM","rating":2742,"fideId":13401319,"team":"BayeganPendik
        chess sports","fed":"AZE","played":7,"score":5.5,"ratingDiff":0,"ratingsMap":{"standard":2742},"ratingDiffs":{"standard":0},"performance":2720,"performances":{"standard":2720}},{"name":"Rapport,
        Richard","title":"GM","rating":2724,"fideId":738590,"team":"BayeganPendik
        chess sports","fed":"HUN","played":6,"score":5,"ratingDiff":4,"ratingsMap":{"sta[...]
